* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

h1 {
    color: #041c90;
    letter-spacing: -2px;
    margin-top: 50px;
    text-align: center;
    font-size: 52px;
}

h2 {
    color: #041c90;
    letter-spacing: -1px;
    padding-top: 50px;
    text-align: center;

}

#paragraph {
    color: rgb(22, 74, 22);
    font-size: 22px;
    padding-top: 10px;
    margin-left: 225px;
    text-align: center;
    align-items: center;
    width: 800px;


}

#start_button {
    background-color: gainsboro;
    border-radius: 10%;

    right: 15px;
    height: 100px;
    width: 200px;
    margin-left: 15px;

    margin-top: 100px;
    margin-left: 525px;
    text-align: center;
    line-height: 100px;
    transition-property: box-shadow;
    transition-duration: .3s;
    font-size: 2em;
}

#scan__video-button {
    background-color: gainsboro;
    height: 100px;
    width: 200px;
    position: fixed;
    top: 200px;
    right: 150px;
    border-radius: 10%;
    text-align: center;
    line-height: 100px;
    transition-property: box-shadow;
    transition-duration: .3s;
    font-size: 2em;
}

#main__main-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
}

#main__video {
    max-width: 700px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10%;
}

#main__video-button {
    background-color: gainsboro;
    border-radius: 10%;

    right: 15px;
    height: 100px;
    width: 200px;
    margin-left: 15px;
    text-align: center;
    line-height: 100px;
    transition-property: box-shadow;
    transition-duration: .3s;
    font-size: 2em;
}

#main__video-button:hover {
    cursor: pointer;
    box-shadow: gray 0 0 10px 10px;
    transition-property: box-shadow;
    transition-duration: .3s;
}